@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-[#003D78] relative">
    <div class="flex gap-4 p-24">
        <div class="flex flex-col w-[50rem] text-left gap-8">
            <h1 class="text-6xl text-white font-extrabold">Where strategy, design, and technology flow together.</h1>
            <p class="text-[#00C4E9] text-lg font-semibold">We’re a digital agency focused on elevating brands, websites, and products. Our expertise and track record of award-winning work helps us accelerate growth for our clients.</p>
            <div>
                <button class="rounded-full bg-white text-[#003D78] p-2 px-6 font-semibold border-2 border-white">View Projects</button>
                <button class="bg-[#003D78] text-white border-[#00C4E9] border-2 p-2 px-6 font-semibold rounded-full">View Services</button>
            </div>
        </div>
        <div class="relative bg-slate-00">
            <div class="absolute -top-16 -right-52 bg-slate-00">
                <img src="https://www.bizstream.com/wp-content/uploads/2024/10/multi-device-clay-mockup-06-home-lyr2-2024-600x596.png" alt="tablet" class="w-[28rem] realtive " />
                <img src="https://www.bizstream.com/wp-content/uploads/2024/10/multi-device-clay-mockup-06-home-lyr3-2024-521x600.png" alt="phone" class="w-[18rem] absolute -top-10 -left-32" />
            </div>
            <img src="https://www.bizstream.com/wp-content/uploads/2024/10/multi-device-clay-mockup-06-home-lyr1-2024-1000x560.png" alt="laptop"/>
        </div>
        
    </div>
    <img src="https://www.bizstream.com/wp-content/uploads/2022/05/streamlines-full-mono-on-blue-4.svg" alt="laptop" class="" />
</div>
