@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center w-full h-full bg-[#003D78]">
    <div class="flex lg:flex-row flex-col items-center xl:items-start gap-4 p-12 xl:py-32 xl:pl-24">
        <div class="slide-up-animation flex flex-col lg:w-2/3 text-left gap-8">
            <h1 class="text-5xl xl:text-6xl text-white font-extrabold">Where strategy, design, and technology flow together.</h1>
            <p class="text-[#00C4E9] text-xl font-semibold">We’re a digital agency focused on elevating brands, websites, and products. Our expertise and track record of award-winning work helps us accelerate growth for our clients.</p>
            <div>
                <button class="text-button-filled py-2 shadow-black/30 hover:shadow-[inset_0_-10px_10px_rgba(0,0,0,0.3)] hover:shadow-[#003D78]/20">View Projects</button>
                <button class="bg-[#003D78] text-button py-2 shadow-black/30 ml-3 hover:shadow-xl">View Services</button>
            </div>
        </div>
        <div class="w-full h-full pt-32 lg:pt-0">
            <div class="relative top-0 slide-left-animation group">
                <img src="https://www.bizstream.com/wp-content/uploads/2024/10/multi-device-clay-mockup-06-home-lyr1-2024-1000x560.png" alt="laptop" class="lg:absolute w-4/5 top-0 left-0 group-hover:-translate-x-2 duration-300 ease-in-out"/>
                <img src="https://www.bizstream.com/wp-content/uploads/2024/10/multi-device-clay-mockup-06-home-lyr2-2024-600x596.png" alt="tablet" class="absolute w-2/5 -top-24 right-10 group-hover:translate-x-2 duration-300 ease-in-out" />
                <img src="https://www.bizstream.com/wp-content/uploads/2024/10/multi-device-clay-mockup-06-home-lyr3-2024-521x600.png" alt="phone" class="absolute w-1/4 bg-pink-00 -top-32 right-64 group-hover:-translate-y-2 duration-300 ease-in-out" />
            </div>
        </div>
    </div>
    <img src="https://www.bizstream.com/wp-content/uploads/2022/05/streamlines-full-mono-on-blue-4.svg" alt="laptop" class="" />
</div>