<div id="botMessageTemplate" class="w-full flex justify-start hidden">
    <div class="w-[75%] bg-[#00C4E9] rounded-xl p-2">
        <div class="flex justify-start gap-2 items-center">
            <img src="~/images/robot (1).png" alt="bot" class="bg-[#00C4E9] rounded-full w-8 border-2 p-1" />
            <p class="text-white font-semibold">BZSAI</p>
        </div>
        <div class="botMessageText"></div>
    </div>
    
</div>