<div id="botMessageTemplate" class="w-full flex flex-col justify-start hidden">
    <div class="max-w-[85%] bg-[#00C4E9] rounded-xl p-2">
        <div class="flex justify-start gap-2 items-center">
            <img src="~/images/botProfile.png" alt="bot" class="bg-white rounded-lg w-8 border-2 p-1" />
            <p class="text-[#003D78] font-semibold">BZSAI</p>
        </div>
        <div class="botMessageText py-2"></div>
    </div>
    @await Html.PartialAsync("Components/_MessageOptions")
</div>