<div id="textLoadingTemplate" class="w-full justify-start flex flex-col gap-2 hidden">
    <div class="max-w-[50%]  p-2 bg-[#00C4E9] rounded-xl">
        <div class="flex items-center gap-2 bg-yellow-00">
            <img src="~/images/robot (1).png" alt="bot" class="bg-[#00C4E9] rounded-full w-8 border-2 p-1" />
            <p class="text-white font-semibold">BZAI</p>
        </div>
        <div class="loading-dots p-2 flex w-full gap-1 bg-slate-00 items-center">
            <div class="w-1 h-1 rounded-full bg-white"></div>
            <div class="w-1 h-1 rounded-full bg-white"></div>
            <div class="w-1 h-1 rounded-full bg-white"></div>
        </div>
    </div>
</div>