<div id="textLoadingTemplate" class="w-full justify-start flex flex-col gap-2 hidden">
    <div class="max-w-[50%]  p-2 bg-[#00C4E9] rounded-xl">
        <div class="flex justify-start gap-2 items-center">
            <img src="~/images/botProfile.png" alt="bot" class="bg-white rounded-lg w-8 border-2 p-1" />
            <p class="text-[#003D78] font-semibold">BZSAI</p>
        </div>
        <div class="loading-dots-animation p-2 flex w-full gap-1 items-center">
            <div class="dot-style"></div>
            <div class="dot-style"></div>
            <div class="dot-style"></div>
        </div>
    </div>
</div>